<div class="row g-5 mb-5">
  <div>
    {% if page.title == "Home" %}
    <h3 class="fw-bold border-bottom pb-3 mb-5">Recent Publications</h3>
      {% for item in site.data.publications.featured %}
        {% if item.contributors == 'None' %}
          <p><a href="{{ item.url }}">{{ item.name }}</a></p>
        {% else %}
          <p><a href="{{ item.url }}">{{ item.name }}</a> <em>with {{ item.contributors }}</em></p>
        {% endif %}
        <p align="justify">Abstract: <em>{{ item.abstract }}</em></p>
      {% endfor %}
    {% else %}
    <h3 class="fw-bold border-bottom pb-3 mb-5">Journal Publications</h3>
      {% for item in site.data.publications.journal %}
        {% if item.contributors == 'None' %}
          <p><a href="{{ item.url }}">{{ item.name }}</a></p>
          <p><b>N. Zalduendo</b></p>
        {% else %}
          <p><a href="{{ item.url }}">{{ item.name }}</a> <em>with {{ item.contributors }}</em></p>
        {% endif %}      
    {% endfor %}
    <br>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Preprints</h3>
      {%for item in site.data.publications.preprint %}
        {% if item.contributors == 'None' %}
          <p>{{ item.number }}<b>{{ item.name }}</b></p>
          <p><b><font color="#595959">N. Zalduendo.</font></b> <font color="#0066ff"><a href="{{ item.url }}">PDF</a></font></p>
        {% else %}
          <p>{{ item.number }}<b>{{ item.name }}</b></p>
          <p>{{ item.contributors }} and <b><font color="#595959">N. Zalduendo.</font></b> <font color="#0066ff"><a href="{{ item.url }}">PDF</a></font></p>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>
