---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">CV: A complete version can be found <a href='/CV__25_02_25.pdf'>here</a> (updated February 2025).</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Experience</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <p><b>{{ section.title }}</b><br>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
